<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Recipes</title>
</head>
<body>
    <h1>Create a New Recipe</h1>
    {% with messages = get_flashed_messages() %}     
        {% if messages %}                            
            {% for message in messages %}            
                <p>{{message}}</p>                   
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="/recipe/new_recipe" method="POST">
        Name: <input type="text" name="name">
        Description: <input type="text" name="description">
        Instructions: <input type="text" name="instructions">
        Under 30 mins:
        Yes<input type="radio" name="under_30" value="1">
        No<input type="radio" name="under_30" value="0">
        Date made on: <input type="date" name = "made_on">
        <input type="submit" value="Add recipe">
        </form>
        <a href="/user/homepage">Dashboard</a>
    
</body>
</html>